* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  color: #ffc800;
}

::-webkit-scrollbar {
  width: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  background-color: #222;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background-color: #222;
  border: solid 2px #ffc800;
  color: #ffc800;
}

.btn_active {
  background-color: rgba(255, 200, 0, 0.2);
}

.chapter_1,
.chapter_2,
.chapter_3,
.chapter_4 {
  font-size: 28px;
  height: 80px;
  margin: 10px 0;
  border-radius: 20px;
}

.chapter_1_lessons,
.chapter_2_lessons,
.chapter_3_lessons,
.chapter_4_lessons {
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 1s linear 1s;
}

.lessons_show {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.btn_lesson {
  width: 90%;
  font-size: 24px;
  margin: 10px 0;
  border-radius: 15px;
  padding: 15px 0;
}

.lesson_active {
  background-color: rgba(255, 200, 0, 0.2);
}

section {
  margin-bottom: 20px;
  display: none;
}

.section_show {
  display: block;
}

span {
  font-weight: 700;
  text-decoration: underline #ffc800;
}

.list {
  margin-bottom: 20px;
}

.list_title {
  font-size: 18px;
  text-decoration: underline #ffc800;
  font-weight: 800;
}

ul {
  padding-left: 24.4px;
}

li {
  list-style: decimal;
  padding: 4px 0;
}

li::marker {
  font-weight: 700;
}

.term {
  margin-bottom: 20px;
}

.text {
  padding: 4px 0;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffc800;;
}

.footer_text {
  padding: 20px 0;
  width: 90%;
  max-width: 1200px;
  color: #222;
}

.copyright {
  color: #222;
  font-weight: 700;
}

.footer_link {
  color: #222;
}