* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  color: black;
  color: #ffc800;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #222;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width: 90%;
  max-width: 1200px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background-color: #222;
  border: solid 2px #ffc800;
  color: #ffc800;
}

.btn_active {
  background-color: rgba(255, 200, 0, 0.2);
}

.chapter_1,
.chapter_2,
.chapter_3,
.chapter_4 {
  font-size: 32px;
  height: 80px;
  margin: 20px 0;
  border-radius: 20px;
}

.chapter_1_lessons,
.chapter_2_lessons,
.chapter_3_lessons,
.chapter_4_lessons {
  width: 90%;
  display: none;
  margin: 0 auto;
}

.lessons_show {
  display: block;
}

.btn_lesson {
  width: 100%;
  font-size: 28px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.lesson_active {
  background-color: rgba(255, 200, 0, 0.2);
}

section {
  margin-bottom: 20px;
  display: none;
}

.section_show {
  display: block;
}

span {
  font-weight: 700;
}

.list {
  margin-bottom: 20px;
}

.list_title {
  font-size: 20px;
  text-decoration: underline #ffc800;
  font-weight: 800;
}

ul {
  padding-left: 24.4px;
}

li {
  list-style: decimal;
  padding: 4px 0;
}

li::marker {
  font-weight: 700;
}

.term {
  margin-bottom: 20px;
}

.text {
  padding: 4px 0;
}
